
<div class="general-container">
    <h1>WildVote</h1>
    <div class="container">
        <div class="signin-signup">
            <form action="" class="sign-in-form">      
                <div class="center-container">
                    <app-webcam></app-webcam>
                </div>
            </form>
            <form action="" class="sign-up-form">
                <!-- Other form here  -->
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Welcome to WildVote</h3>
                    <p>To get started, position your face within the camera frame. Then, wait for facial recognition to identify your identity. Once recognized, click the "Login" button to proceed.</p>
                    <button class="btn" id="sign-up-btn" (click)="Login()">Login</button>
                </div>
                <img src="signup.svg" alt="" class="image">
            </div>
        </div>
    </div>
</div>
